/* CSS */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


/* boton carrito*/
#cart-button {
  padding: 15px; 
  font-size: 0.8rem; 
  top: 0px; 
  right: 250px; 
  z-index: 1000;
  width: 100px; 
}


#cart-button .fas {
  font-size: 1rem; 
}


#cart-count-badge {
  font-size: 0.6rem; 
  padding: 3px 6px; 
}

/* boton opciones */

#toggleAsideButton {
  padding: 15px; 
  font-size: 0.8rem; 
  top: 15px; 
  right: 600px; 
  z-index: 1000;
  width: 100px;  
}

#toggleAsideButton .fas {
  font-size: 1rem; 
}
