/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.navbar {
    background-color: #252323;
    color: #fff;
    padding: 20px 0;
    position: relative; /* o absolute, dependiendo de tu diseño */
    z-index: 20;
}

.navbar .nav-link {
    color: #fff; /* Texto blanco para contrastar con el fondo oscuro */
}

.brand {
    font-size: 24px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Header */
.header {
    background-image: url('https://d100mj7v0l85u5.cloudfront.net/s3fs-public/2023-03/que-vender-en-una-ferreteria.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.5); /* superposición semitransparente */
    padding: 20px;
}

.header-title {
    font-size: 36px;
}

.header-description {
    font-size: 18px;
    margin-top: 20px;
}

/* Secciones */
.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-contact {
    margin-bottom: 20px;
}

.footer-contact h3 {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    display: inline;
    margin-right: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}


/* Estilos para productos */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-title {
    margin-top: 10px;
}

.product-price {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Estilos para categorías */
.category-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.category {
    position: relative;
    width: 300px;
}

.category-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(0.5); /* Opacidad */
}

.category-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo semitransparente */
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: #333;
}


/* Estilos para botón de categoría */
.category-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.category-link:hover {
    opacity: 1;
}

.category-title {
    font-weight: bold;
    text-align: center;
}


/* Estilos para los títulos de sección */
.section-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* Estilos para los títulos de categoría */
.category-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para los títulos de productos destacados */
.product-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-top: 10px;
}

/* styles.css */

/* styles.css */

/* styles.css */

#herramientasAside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    overflow: auto;
    background-color: #f8f9fa;
    z-index: 20;
}

/* styles.css */

#herramientasAside ul {
    padding: 0;
    margin: 0;
}

#herramientasAside ul li {
    margin-bottom: 0px; /* Reducir el margen inferior */
    padding: 0;
}
.custom-button {
    background-color: #333333; /* color de fondo del navbar */
    color: white;
    padding: 10px 20px; /* padding vertical reducido para hacer los botones más delgados */
    border: none;
    cursor: pointer;
    width: 100%; /* para llenar todo el espacio del aside */
    box-sizing: border-box; /* para incluir el padding en el ancho total */
    display: block; /* para hacer que los enlaces se comporten como bloques */
    text-align: center; /* para centrar el texto */
}
.custom-button:hover {
    background-color: darkred;
}

.custom-button:active {
    background-color: maroon;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10; /* Asegúrate de que este valor sea menor que el z-index del navbar y del aside */
    display: none;
}



.cart-panel.show {
    transform: translateX(0);
}


/* Mantén los estilos existentes */
.cart-panel.show {
    transform: translateX(0);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1500; /* Asegúrate de que el z-index del overlay sea mayor que el navbar */
}

.cart-panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    background: #f8f9fa;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2000; /* Asegúrate de que el z-index del panel lateral sea mayor que el del navbar */
    display: flex;
    flex-direction: column;
}

.cart-panel.show {
    transform: translateX(0);
}

/* Deshabilitar el desplazamiento del cuerpo */
body.no-scroll {
    overflow: hidden;
}

/* Nuevo estilo para el contenedor de los elementos del carrito */
#cart-items-container {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 10px; /* Añade un padding en la parte inferior */
    padding-top: 10px; /* Añade un padding en la parte superior */
    margin-top: 0; /* Resetear margen superior */
    margin-bottom: 0; /* Resetear margen inferior */
}


#cart-total {
    flex-shrink: 0;
    padding: 10px 20px;
    background: #fff;
    border-top: 1px solid #ddd;
}

#cart-header, #cart-footer {
    padding: 10px 20px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

#cart-header {
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#cart-footer {
    position: sticky;
    bottom: 0;
    background: white;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#cart-items {
    padding-bottom: 0px; 
}

.btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.btn:last-child {
    margin-bottom: 0;
}

#toggleAsideButton {
    margin-top: 10px    ;
    width: 150px;  
    height: 50px; 
    font-size: 14px; 
}

#cart-button .badge {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    display: none; /* Oculto por defecto */
}

#cart-button {
    position: relative;
    padding: 5px 10px;
    font-size: 1rem;
}

.navbar-nav .nav-item .btn {
    margin-left: 10px;
}

#cart-button .badge.show {
    display: inline-block; /* Mostrar cuando haya productos */
}

/* Botones en el pie de página */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Estilos para los elementos del carrito */
.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0; /* Elimina el margen inferior */
}

/* Último elemento del carrito */
.cart-item:last-child {
    margin-bottom: -1px; /* Compensa el borde inferior del último elemento */
}


.cart-item img {
    margin-right: 10px;
}

.cart-item p {
    margin: 0;
    flex: 1;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #495057;
    padding: 5px 10px;
    cursor: pointer;
}

.quantity {
    margin: 0 10px;
}

.remove-from-cart {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.remove-from-cart:hover {
    background-color: #c82333;
}
